/* Resetear márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo del video */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para cubrir el área sin distorsión */
    pointer-events: none; /* Desactiva la interacción del puntero con el video */
}

/* Video central */
#center-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantiene la proporción del video */
    z-index: 1; /* Asegura que el video esté sobre el fondo */
    pointer-events: none; /* Desactiva la interacción del puntero con el video */
}

/* Música de fondo */
#background-music {
    display: none; /* Oculta el reproductor de audio */
}

