/* Resetear márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo del video */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
}

/* Estilo del contenido */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6); /* Fondo translúcido para mejorar la legibilidad */
    border-radius: 8px;
    max-width: 90%; /* Ajustar ancho máximo del contenedor */
    width: 100%;
}

/* Estilo del texto */
h1 {
    font-size: 1.5em; /* Tamaño más pequeño para un estilo más minimalista */
    font-weight: 300; /* Fuente más delgada */
    margin-bottom: 8px;
}

p {
    font-size: 1em; /* Tamaño más pequeño para un estilo más minimalista */
    line-height: 1.4;
    margin-bottom: 15px;
    font-weight: 300; /* Fuente más delgada */
}

/* Ajustes específicos para dispositivos móviles */
@media (max-width: 768px) {
    .content {
        padding: 10px; /* Ajustar padding en pantallas pequeñas */
        max-width: 90%; /* Asegurar que el contenedor no sea demasiado ancho */
    }

    h1 {
        font-size: 1.2em; /* Tamaño del texto en dispositivos móviles */
    }

    p {
        font-size: 0.9em; /* Tamaño del texto en dispositivos móviles */
    }
}


